@import "tailwindcss";

:root {
  --foreground: #f3f3f3;
}


body {
  color: var(--foreground);
  font-family: var(--font-oswald);
}

#homeBackground {
  background: url('/assets/backgrounds/backStaffsHome.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.fontTitlesHome {
  font-family: var(--font-playfair-display);
  font-weight: 700;
  font-style: italic;
}