@import "tailwindcss";

:root {
  --background: black;
  --foreground: #f3f3f3;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-oswald);
}

.fontTitlesHome {
  font-family: var('--font-exo');
  font-weight: 600;
}

.fontSubtitlesHome{
  font-family: var(--font-cormorant-garamond);
  font-weight: 600;
}


