.backgroundServizi {
    background: url('/assets/backgrounds/backServizi.webp');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
}

.gradientSection {
    background: #000000;
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 34%, rgba(255, 255, 255, 0) 80%);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 34%, rgba(255, 255, 255, 0) 80%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 34%, rgba(255, 255, 255, 0) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",
            endColorstr="#FFFFFF",
            GradientType=0);
}

.gradientPrice {
    background: #000000;
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 1) 19%, rgba(255, 0, 0, 0) 81%);
    background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 1) 19%, rgba(255, 0, 0, 0) 81%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 19%, rgba(255, 0, 0, 0) 81%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",
            endColorstr="#FF0000",
            GradientType=0);
}