

/* background why choise */
.backgroundWhyChoiseAbout {
  position: relative;
  background: url('/assets/backgrounds/saloon.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0; 
}

.backgroundWhyChoiseAbout::before {
  content: "";
  position: absolute;
  inset: 0; 
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 1;
}

.backgroundWhyChoiseAbout > * {
  position: relative;
  z-index: 2;
}
